*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    font-family: 'Open Sans', sans-serif;
    font-feature-settings: 'liga';
    font-size: 14px;
}

img {
    vertical-align: middle;
    border-style: none;
}

body {
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #fff;
}

div.bg-container {
    background: url(https://mjepiscope.github.io/AzureAdB2cCustomUi/assets/images/login_bg.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

div.bg-container:after {
    content: "";
    background: #26358C;
    opacity: 0.75;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

div.page-container {
    position: relative;
    color: #fff;
}

div.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    padding: 0 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

span.header-image {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

div.content {
    color: #26358C;
    display: block;
    margin: auto;
    width: 90%;
    text-align: center;
}

div.main-view {
    max-width: 480px;
    margin: auto;
    margin-top: 102px;
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
}

h2 {
    font-size: 24px;
}

div.error {
    color: #f44336;
}

button {
    background-color: #009fe3;
    color: #fff;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    height: 46px;
    margin-top: 12px;
    margin-bottom: 25px;
}

label[for="logonIdentifier"], label[for="password"], label[for="number"] {
    display: none
}

.entry-item {
    position: relative;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    display: block;
}

div.entry-item, div.number, div#codeVerification {
    width: 100%;
    padding-top: 20px;
    display: inline-block;
    position: relative;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    border-bottom: 1px solid rgba(38, 53, 140, .5);
}

input[type=email], input[type=password], input[type=text] {
    font: inherit;
    background: 0 0;
    color: currentColor;
    border: none;
    outline: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
    margin-bottom: 5px;
}

a {
    cursor: pointer;
    color: #337ab7;
}

a#forgotPassword {
    position: absolute;
    bottom: -80px;
    right: 140px;
    clear: right;
    float: right;
    text-align: right;
}