div#api {
    display: flex;
    flex-direction: column-reverse;
}

div.divider {
    margin-top: 15px;
}

a#forgotPassword {
    position: absolute;
    bottom: -95px;
    right: 140px;
    clear: right;
    float: right;
    text-align: right;
}
